.divbrix{
    border: 1px dashed red !important;
}
.app-margin-8px{
    padding: 8px;
}

.app-margin-16px {
    padding: 16px;
}

.padding-zero {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
}
.menuLabel{
    font-weight: bold !important;
}
.contentMain{
    height: 100vh;
}

.disable-md-clickable .md-ripple-container {
    display: none;
}

.header-table {
    background-color: #EEEEEE;
    font-weight: bold;
    color: #424242;
}

.line_gray {
    background-color: #F5F5F5;
}

.line_white {
    background-color: white;
}

.image-size {
    width: 28px;
    height: 28px;
}

.size-list-panel {
    height: 30vw;
}